{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <!-- for posts -->
    <section class="mt-5 text-justify">
        <h1 class="display-5"><a href=""></a></h1>
        <!-- for categorias -->
            <a href="" class="btn btn-secondary btn-sm"></a>
        <!-- endfor categorias -->
        <hr>
        <br>
        <p class="text-right text text-danger"><small>Publicado em </small></p>
    </section>
    <hr>
    <!-- else for posts -->
        <div class="alert alert-warning">Nenhum post cadastrado</div>
    <!-- endfor posts -->

{% endblock %}
