{% extends 'base.html.twig' %}

{% block body %}

    <section class="mt-5">
        <h1 class="display-3"></h1>
        <hr>
        <!-- titulo -->
        <div class="row mt-3">
            <div class="col-md-6">
                <!-- for categorias -->
                    <a href="" class="btn btn-sm btn-secondary"></a>
                <!-- endfor categorias -->
            </div>
            <div class="col-md-6">
                <p class="text-right text text-danger"><small>Publicado em </small></p>
            </div>
        </div>
    </section>
{% endblock %}

{% block title %}
    Titulo post -
{% endblock %}

